.contenedor {
  width: 100%;
  height: 5em;
  position: relative;
  font-size: 2em;
  color: white;
  -webkit-perspective: 2000px;
     -moz-perspective: 2000px;
       -o-perspective: 2000px;
          perspective: 2000px;
}

.contenedor > * {
  position: absolute;
}

.left {
  top: 0;
  left: 2%;
}

.right {
  bottom: 0;
  right: 2%;
}

.three-deify {
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ( -200px );
     -moz-transform: translateZ( -200px );
       -o-transform: translateZ( -200px );
          transform: translateZ( -200px );
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: transform 5s linear;
     -moz-transition: transform 5s linear;
       -o-transition: transform 5s linear;
          transition: transform 5s linear;
}

.three-deify figure {
  display: block;
  position: absolute;
  margin: 0;
  top: 1.5em;
  width: 100%;
  text-align: center;
  transition: transform 3s linear;
  font-style: italic;
  backface-visibility: hidden;
}

figure:nth-child(1) {
  -webkit-transform: rotateX(0deg) translateZ(200px);
     -moz-transform: rotateX(0deg) translateZ(200px);
       -o-transform: rotateX(0deg) translateZ(200px);
          transform: rotateX(0deg) translateZ(200px);
}
figure:nth-child(2) {
  -webkit-transform: rotateX(-72deg) translateZ(200px);
     -moz-transform: rotateX(-72deg) translateZ(200px);
       -o-transform: rotateX(-72deg) translateZ(200px);
          transform: rotateX(-72deg) translateZ(200px);
}
figure:nth-child(3) {
  -webkit-transform: rotateX(-144deg) translateZ(200px);
     -moz-transform: rotateX(-144deg) translateZ(200px);
       -o-transform: rotateX(-144deg) translateZ(200px);
          transform: rotateX(-144deg) translateZ(200px);
}
figure:nth-child(4) {
  -webkit-transform: rotateX(-216deg) translateZ(200px);
     -moz-transform: rotateX(-216deg) translateZ(200px);
       -o-transform: rotateX(-216deg) translateZ(200px);
          transform: rotateX(-216deg) translateZ(200px);
}
figure:nth-child(5) {
  -webkit-transform: rotateX(-288deg) translateZ(200px);
     -moz-transform: rotateX(-288deg) translateZ(200px);
       -o-transform: rotateX(-288deg) translateZ(200px);
          transform: rotateX(-288deg) translateZ(200px);
}

.three-deify:hover figure:nth-child(5) {
  -webkit-transform: rotateX(0deg) translateZ(200px);
     -moz-transform: rotateX(0deg) translateZ(200px);
       -o-transform: rotateX(0deg) translateZ(200px);
          transform: rotateX(0deg) translateZ(200px);
}
.three-deify:hover figure:nth-child(1) {
  -webkit-transform: rotateX(288deg) translateZ(200px);
     -moz-transform: rotateX(288deg) translateZ(200px);
       -o-transform: rotateX(288deg) translateZ(200px);
          transform: rotateX(288deg) translateZ(200px);
}
.three-deify:hover figure:nth-child(2) {
  -webkit-transform: rotateX(216deg) translateZ(200px);
     -moz-transform: rotateX(216deg) translateZ(200px);
       -o-transform: rotateX(216deg) translateZ(200px);
          transform: rotateX(216deg) translateZ(200px);
}
.three-deify:hover figure:nth-child(3) {
  -webkit-transform: rotateX(144deg) translateZ(200px);
     -moz-transform: rotateX(144deg) translateZ(200px);
       -o-transform: rotateX(144deg) translateZ(200px);
          transform: rotateX(144deg) translateZ(200px);
}
.three-deify:hover figure:nth-child(4) {
  -webkit-transform: rotateX(72deg) translateZ(200px);
     -moz-transform: rotateX(72deg) translateZ(200px);
       -o-transform: rotateX(72deg) translateZ(200px);
          transform: rotateX(72deg) translateZ(200px);
}
