body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
  background-color: rgb(233, 251, 255);
  position: relative;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

header .accent-color {
  color: #47B0FF;
}

table {
  width: 100%;
  padding: 0 25vw;
}

td {
  width: 50%;
}

td:first-child {
  text-align: left;
}

td:last-child {
  text-align: right;
  color: #001F7D;
}

canvas {
  margin: auto;
  display: block;
}

.overlay {
  background-color: rgba(0,50,100,.9);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

/* Nav-bar styling */

.menu-and-name > * {
  display: inline-block;
  font-size: 2em;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  padding: 5px 10px;
  font-family: 'Philosopher', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: navy;
  color: lightblue;
  box-shadow: 0 2px 2px #47B0FF;
  z-index: 9;
}

.site-header.displayed {
  width: 100%;
}

.displayed #menu-icon {
  font-size: 1.5em;
}

.displayed .name {
  display: inline-block;
}

#menu-icon {
  font-size: 2em;
  color: #47B0FF;
}

.name {
  display: none;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.displayed .nav-content {
  display: flex;
  margin-right: 10px;
}

.nav-content {
  display: none;
  justify-content: space-around;
  z-index: 9;
}

.nav-item {
  padding: 10px;
  border-left: 2px solid #fff;
}

.nav-item:first-child {
  border-left: 0;
}

.nav-item:hover {
  background-color: lightblue;
  color: navy;
  border-radius: 10px;
}

/* End nav-bar styling */

.watermark {
  position: fixed;
  top: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: .2;
  z-index: -10;
}

.splash-images {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.splash-images > div {
  height: 100%;
  flex: 1 1 46vw;
  display: flex;
  align-items: center;
}

.main-splash {
  background-image: url('../res/with_eyes_the_color_of_water.gif');
  background-repeat: repeat-y;
  background-size: 100% auto;
  opacity: .8;
}

.splash-images img {
  width: 100%;
}

.welcome {
  padding-top: 56px;
  text-align: center;
  font-size: 4em;
}

#drawing-canvas {
  max-width: 100vw;
}

#logo {
  background: url('../res/personal_logo.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  width: 31.5vh;
  height: 30vh;
}

.main {
  position: relative;
  z-index: 7;
}

.main h1 {
  margin-left: 10px;
}

#about {
  width: 100vw;
  margin: auto;
  margin-top: 56px;
  background-color: rgba(173, 216, 230,.8);
  display: flex;
}

.category-slider {
  height: .75em;
  margin-right: 10px;
  width: 20px;
  display: inline-block;
  background-color: #47B0FF;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.about-content:hover .category-slider {
  width: 40px;
}

.about-pic {
  margin-top: 56px;
  display: flex;
  align-items: center;
}

.about-pic img {
  width: 50vw;
  height: auto;
}

p {
  line-height: 1.5em;
  text-indent: 2em;
  padding: 0 15px;
}

#proyectos {
  margin-top: 56px;
}

#proyectos:hover .category-slider {
    width: 40px;
}

.projects-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.projects-flex a {
  flex-basis: 28ch;
  height: 14ch;
  margin: 1.5ch;
}

.project {
    margin: auto;
    opacity: .8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project:hover {
  opacity: 1;
}

.project h2 {
  background-color: rgba(132, 175, 255, 0.65);
  border-radius: 7px;
  padding: 8px;
}

.nine-ball {
  background: url('../res/nineball_pic.png');
}

.petsy {
  background: url('../res/Petsy.png');
}

.rails-lite {
  background: url('../res/railslite_snippet.png');
}

.js-calligrapher {
  background:  rgba(132, 175, 255, 0.95) url('../res/calligrapher_snapshot.png');
}

.js-calligrapher h2 {
  background-color: rgba(132, 175, 255, 0.95);
}

.mandelbrot {
  background: url('../res/mandelbrot.png');
}

.reddit {
  background: url('../res/reddit.png')
}

.project {
  margin: 1em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

#proj-desc-anchor {
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 5px outset navy;
  background-color: rgba(173, 216, 230,1);
  color: black;
}

#proj-desc-anchor h2 {
  text-align: center;
  margin-top: 20px;
}

footer {
  margin-top: 10em;
  margin-bottom: 1em;
  text-align: center;
  color: gray;
}

.group::after {
  display: block;
  clear: both;
  content: "";
}

.contact .contact-box {
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity 0.5s linear;
}

.contact:hover .contact-box {
  visibility: visible;
  opacity: 1;
}

.contact-box {
  position:absolute;
  right:20px;
  top:55px;
  width: 50px;
  padding: 5px;
  background-color:aliceblue;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.icon {
  float:left;
  width:50px;
  height:50px;
  margin-top: 5px;
  opacity: .8;
  background-size: cover;
}

.icon:first-child {
  margin-top: 0;
}

.icon:hover {
  opacity: 1;
}

.linkedin {
  background-image: url('../res/linked-in-no-bg.png');
}

.email {
  background-image: url('../res/at_symbol.svg');
}

.github {
  background-image: url('../res/github-no-bg.png');
}

@media only screen and (max-width: 800px) {
  body {
    max-width: 100vw;
    font-size: medium;
  }
  .welcome {
    font-size: 2em;
  }
  #about {
    flex-direction: column;
    justify-content: center;
  }
  .about-pic {
    margin: auto;
    margin-bottom: 2em;
  }
  .about-pic img {
    width: auto;
    max-width: 100vw;
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  .site-header{display: block;}
  .name{float: left;}
  .nav-content{float: right;}
}
