html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: rgb(233, 251, 255);
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.1em;
}

p {
  text-indent: 2em;
}

.main a {
  color: #47B0FF;
}

/* Nav-bar styling */

header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  font-family: 'Philosopher', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: navy;
  color: lightblue;
  box-shadow: 0 2px 2px #47B0FF;
  z-index: 9;
}

header.site-header .accent-color {
  color: #47B0FF;
}

.name {
  font-size: 2em;
  font-weight: bold;
}

.nav-content {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  z-index: 9;
}

.nav-item {
  padding: 10px;
  border-left: 2px solid #fff;
}

.nav-item:first-child {
  border-left: 0;
}

.nav-item:hover {
  background-color: lightblue;
  color: navy;
  border-radius: 10px;
}

.contact .contact-box {
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity 0.5s linear;
}

.contact:hover .contact-box {
  visibility: visible;
  opacity: 1;
}

.contact-box {
  position:absolute;
  right:20px;
  top:55px;
  width: 50px;
  padding: 5px;
  background-color:aliceblue;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.icon {
  float:left;
  width:50px;
  height:50px;
  margin-top: 5px;
  opacity: .8;
}

.icon:first-child {
  margin-top: 0;
}

.icon:hover {
  opacity: 1;
}

.linkedin {
  background-image: url('../res/linked-in-no-bg.png');
  background-size: cover;
}

.email {
  background-image: url('../res/at_symbol.svg');
  background-size: cover;
}

.github {
  background-image: url('../res/github-no-bg.png');
  background-size: cover;
}

/* End nav-bar styling */

.main {
  width: 90vw;
  min-height: 100vh;
  margin: 2em auto auto auto;
  background-color: rgb(237, 253, 255);
  border: 1px solid #eee;
  padding: 1%;
}

.content {
  background-color: navy;
  color: lightblue;
  border-radius: 1em;
  border: .25em outset #1969c0;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content::after {
  content: "";
  clear: both;
  display: block;
}

.intro-text {
  line-height: 1.3em;
  padding: .5em;
  background-color: lightblue;
  border-radius: .5em;
  flex: 1 2 312px;
}

.canvas-container {
  position: relative;
  flex: 2 1 50vmax;
  margin: 5px;
  touch-action: pan-y;
}

.info-headers {
  display: flex;
  justify-content: center;
}

.info-header {
  margin-left: 1px;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  background-color: navy;
  padding: .5em .5em 0 .5em;
}

.info-header h3 {
  margin: .1em auto;
}

.info-header:hover h3 {
  color: blue;
}

.info-header:hover .triangle {
  border-bottom-color: blue;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid lightblue;
  margin: auto;
}

.info-sections {
  background-color: navy;
  padding: .5em 0;
  border-radius: .5em;
}

.info-section {
  padding: 0 1em;
}

#info-instructions p {
  text-indent: 0;
}

.equation {
  display: inline-block;
}

i {
  font-style: italic;
}

canvas {
    border: 1px solid black;
    cursor: crosshair;
    position: relative;
    width: 100%;
}

canvas:hover {
    border: 0;
    box-shadow: 0 0 3px 3px aqua;
}

#zoom-out {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: navy;
  padding: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid black;
  border-width: 0 0 1px 1px;
  user-select: none;
}

#zoom-out:hover {
  background-color: lightblue;
  color: navy;
}

#zoom-out:disabled {
  background-color: rgba(200,200,200,.7);
  color: #aaf;
}

@media (max-width: 1000px) {
  .content{flex-direction: column-reverse;}
  .intro-text{flex-basis: auto;}
  .info-sections{border-radius: .5em;}
  .info-header{flex-grow: 0;}
  .canvas-container{flex-basis:auto;}
}
